# environment specifier (dev / production)
environment: 'dev'

rebuildZestLayer: false

# modules to load
modules:
  'cs!$/app-module': true

# requirejs config
require:
  # add any map config here etc
  map: {}
  paths:
    app: '../app'
  
  # environment-specific requirejs configs
  server: {}
  build: {}
  client: {}


