# environment specifier (dev / production)
environment: 'dev'

# load the application module
modules:
  'cs!$/application': true

# RequireJS config - exactly as in RequireJS docs
require:
  map:
    '*':
      # if using jquery, remap the selector module to point to jquery
      'selector': 'selector' #'jquery'
  paths:
    app: '../app'
